<div class="description-parent">
    <div class="description">
        <h6 class="sub-heading">The Kendo UI for Angular Chip allows users to enter information, make selections, filter
            content, or trigger actions.</h6>
        <p>The following example demonstrates all available appearance options of the Chip in action.</p>
    </div>
</div>

<div class="wrapper-parent">
    <div class="wrapper">
        <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
            <kendo-tabstrip-tab title="Preview" [selected]="true">
                <ng-template kendoTabContent>
                    <div class="example-wrapper">
                        <div class="example-col">
                            <kendo-chip *ngFor="let chip of chips" [label]="chip.label" [selected]="chip.selected"
                                [removable]="chip.removable" [removeIcon]="chip.removeIcon" (remove)="onRemove($event)">
                            </kendo-chip>
                        </div>
                    </div>
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab title="View Source">
                <ng-template kendoTabContent>
                    <div>
                        <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
                            <kendo-tabstrip-tab title="app.component.ts" [selected]="true">
                                <ng-template kendoTabContent>
                                    <div class="content">
                                        <pre>
                              <!-- <code>{{code}}</code> -->
                          </pre>
                                    </div>
                                </ng-template>
                            </kendo-tabstrip-tab>
                            <kendo-tabstrip-tab title="app.module.ts">
                                <ng-template kendoTabContent>
                                    <div class="content">
                                        <pre>
                              <!-- <code>{{code1}}</code> -->
                          </pre>
                                    </div>
                                </ng-template>
                            </kendo-tabstrip-tab>
                        </kendo-tabstrip>
                    </div>
                </ng-template>
            </kendo-tabstrip-tab>
        </kendo-tabstrip>
    </div>
</div>