<div class="description-parent">
  <div class="description">
    <h6 class="sub-heading">The Kendo UI for Angular Stepper visualizes the progress of a process by dividing the
      content
      into logical steps.</h6>
    <p>It enables wizard-like workflow and supports multiple step types, linear flow, step validation, templates, and
      more.</p>
    <p>The following example demonstrates the Stepper in action.</p>
  </div>
</div>

<div class="wrapper-parent">
  <div class="wrapper">
    <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
      <kendo-tabstrip-tab title="Preview" [selected]="true">
        <ng-template kendoTabContent>
          <div class="example-wrapper">
            <div class="example-col row">
              <div class="col-xs-12 col-sm-6 mb-3">
                <h5>Horizontal</h5>
                <kendo-stepper [steps]="steps" stepType="full" [(currentStep)]="current" [linear]="false"
                  [style.width.px]="570">
                </kendo-stepper>
                <br><br>
                <kendo-stepper [steps]="steps1" stepType="full" [currentStep]="2" [linear]="false"
                  [style.width.px]="570">
                  <ng-template kendoStepperIndicatorTemplate let-step>
                    <span class="emoji">{{ step.emoji }}</span>
                  </ng-template>
                </kendo-stepper>
              </div>
              <div class="col-xs-12 col-sm-6 mb-3 text-center">
                <h5>Vertical</h5>
                <div class="d-flex justify-content-center">
                  <kendo-stepper [style.width.px]="150" [steps]="steps" stepType="full" orientation="vertical">
                  </kendo-stepper>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab title="View Source">
        <ng-template kendoTabContent>
          <div>
            <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
              <kendo-tabstrip-tab title="app.component.html" [selected]="true">
                <ng-template kendoTabContent>
                  <div class="content">
                    <pre>
                            <code>{{code}}</code>
                        </pre>
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab title="app.component.ts">
                <ng-template kendoTabContent>
                  <div class="content">
                    <pre>
                            <code>{{code1}}</code>
                        </pre>
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
            </kendo-tabstrip>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
  </div>
</div>