<div class="description-parent">
  <div class="description">
    <h6 class="sub-heading">The TreeView enables you to display only a limited number of nodes in each level, when the
      provided data set is too big.</h6>
    <p>The following example demonstrates how to limit the number of displayed nodes when all the available data is
      loaded into the TreeView.</p>
  </div>
</div>

<div class="wrapper-parent">
  <div class="wrapper">
    <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
      <kendo-tabstrip-tab title="Preview" [selected]="true">
        <ng-template kendoTabContent>
          <div class="example-wrapper">
            <div class="example-col row">
              <kendo-treeview [nodes]="nodes" textField="text" kendoTreeViewExpandable kendoTreeViewHierarchyBinding
                childrenField="items" kendoTreeViewLoadMore [pageSize]="10">
              </kendo-treeview>
            </div>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab title="View Source">
        <ng-template kendoTabContent>
          <div>
            <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
              <kendo-tabstrip-tab title="app.component.ts" [selected]="true">
                <ng-template kendoTabContent>
                  <div class="content">
                    <pre>
                            <code>{{code}}</code>
                        </pre>
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab title="app.module.ts">
                <ng-template kendoTabContent>
                  <div class="content">
                    <pre>
                            <code>{{code1}}</code>
                        </pre>
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab title="data-generator.ts">
                <ng-template kendoTabContent>
                  <div class="content">
                    <pre>
                            <code>{{code2}}</code>
                        </pre>
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
            </kendo-tabstrip>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
  </div>
</div>