<h1 class="main-heading">Heading</h1>
<div class="description">
  <h6 class="sub-heading">sub-heading</h6>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
</div>

<kendo-listview
    [kendoListViewBinding]="destinations"
    [pageable]="pagerSettings"
    [pageSize]="pageSize"
    containerClass="listview-content"
>
    <ng-template
        kendoListViewItemTemplate
        let-dataItem="dataItem"
        let-isLast="isLast"
    >
        <app-destination-card [destination]="dataItem"></app-destination-card>
    </ng-template>
    <ng-template kendoListViewFooterTemplate>
        <div class="footer-note">Source: wwww.european.destinations</div>
    </ng-template>
</kendo-listview>