<kendo-listview
    [kendoListViewBinding]="destinations"
    [pageable]="pagerSettings"
    [pageSize]="pageSize"
    containerClass="listview-content"
>
    <ng-template
        kendoListViewItemTemplate
        let-dataItem="dataItem"
        let-isLast="isLast"
    >
        <app-destination-card [destination]="dataItem"></app-destination-card>
    </ng-template>
    <ng-template kendoListViewFooterTemplate>
        <div class="footer-note">Source: wwww.european.destinations</div>
    </ng-template>
</kendo-listview>