<div class="description-parent">
  <div class="description">
  <h6 class="sub-heading">The Kendo UI for Angular Utilities deliver a Drag and Drop functionality that can be used with Angular components or regular HTML elements to enhance their performance and functionality.</h6>
  <p>The Drag and Drop is built from the ground up and specifically for Angular, so that you get high-performance controls which integrate tightly with your application and with the rest of the Kendo UI for Angular components.</p>
</div>
</div>
<div class="wrapper-parent">
  <div class="wrapper">
  <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
    <kendo-tabstrip-tab title="Preview" [selected]="true">
      <ng-template kendoTabContent>
        <div class="example-wrapper">
          <div class="example-col">
            <h5>Drag the Button around</h5>
            <div class="container">
              <div *ngFor="let dropTarget of dropTargets" kendoDropTarget (dragEnter)="handleDragEnter(dropTarget)"
                (drop)="handleDrop(dropTarget)" (dragLeave)="handleDragLeave()" [ngClass]="{
            'my-drop': true,
            entered: enteredBox === dropTarget && enteredBox !== currentBox
          }">
                <button kendoButton kendoDragTarget *ngIf="currentBox === dropTarget" (press)="handlePress()"
                  (release)="resetText()" (dragEnd)="resetText()" themeColor="primary">
                  <span class="k-icon k-i-move k-icon-md"></span>
                  {{ btnText }}
                </button>
                {{ currentBox !== dropTarget ? "Drop Here" : "" }}
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="View Source">
      <ng-template kendoTabContent>
        <div>
          <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
            <kendo-tabstrip-tab title="app.component.ts" [selected]="true">
              <ng-template kendoTabContent>
                <div class="content">
                  <pre>
                            <code>{{code}}</code>
                        </pre>
                </div>
              </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab title="app.module.ts">
              <ng-template kendoTabContent>
                <div class="content">
                  <pre>
                            <code>{{code1}}</code>
                        </pre>
                </div>
              </ng-template>
            </kendo-tabstrip-tab>
          </kendo-tabstrip>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
</div>
</div>