<div class="description-parent">
    <div class="description">
        <h6 class="sub-heading">The Kendo UI for Angular ProgressBars display the progress of an ongoing task.</h6>
        <p>The ProgressBars are built from the ground up and specifically for Angular, so that you get high-performance
            controls which integrate tightly with your application and with the rest of the Kendo UI for Angular
            components.</p>
    </div>
</div>

<div class="wrapper-parent">
    <div class="wrapper">
        <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
            <kendo-tabstrip-tab title="Preview" [selected]="true">
                <ng-template kendoTabContent>
                    <div class="example-wrapper">
                        <div class="example-col row progressbar">
                            <div class="col-12 mb-5">
                                <p>Default View</p>
                                <kendo-progressbar 
                                [animation]="animation" [value]="value"> </kendo-progressbar>
                            </div>
                            <div class="col-md-6 mb-5">
                                <p>Circular View</p>
                                <kendo-circularprogressbar
                                [animation]="animation1"
                                [value]="value"
                              >
                                <ng-template
                                  kendoCircularProgressbarCenterTemplate
                                  let-value="value"
                                >
                                  <span *ngIf="value !== 100" 
                                    >{{ value }} %</span
                                  >
                                  <span
                                    *ngIf="value === 100"
                                    class="k-icon k-i-check"
                                  ></span>
                                </ng-template>
                              </kendo-circularprogressbar>
                            </div>
                            <div class="col-md-6 mb-5">
                                <p>Vertical View</p>
                                <kendo-progressbar [animation]="animation"
                                 orientation="vertical" [value]="value"></kendo-progressbar>
                            </div>

                          <!-- <button kendoButton (click)="changeProgress()">{{ text }} progress</button> -->
                        </div>
                    </div>
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab title="View Source">
                <ng-template kendoTabContent>
                    <div>
                        <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
                            <kendo-tabstrip-tab title="app.component.ts" [selected]="true">
                                <ng-template kendoTabContent>
                                    <div class="content">
                                        <pre>
                              <!-- <code>{{code}}</code> -->
                          </pre>
                                    </div>
                                </ng-template>
                            </kendo-tabstrip-tab>
                            <kendo-tabstrip-tab title="app.module.ts">
                                <ng-template kendoTabContent>
                                    <div class="content">
                                        <pre>
                              <!-- <code>{{code1}}</code> -->
                          </pre>
                                    </div>
                                </ng-template>
                            </kendo-tabstrip-tab>
                        </kendo-tabstrip>
                    </div>
                </ng-template>
            </kendo-tabstrip-tab>
        </kendo-tabstrip>
    </div>
</div>