<div class="description-parent">
  <div class="description">
  <h6 class="sub-heading">The Kendo UI for Angular PDF Export component allows you to export any content to a PDF document</h6>
  <p>The PDF Export is built from the ground up and specifically for Angular, so that you get a high-performance control which integrates tightly with your application and with the rest of the Kendo UI for Angular components.</p>
</div>
</div>

<div class="wrapper-parent">
  <div class="wrapper">
  <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
    <kendo-tabstrip-tab title="Preview" [selected]="true">
      <ng-template kendoTabContent>
        <div class="example-config">
          <button class="my-3 k-button-solid-primary" kendoButton (click)="pdf.saveAs('contact_River_City_Corporation.pdf')">
            Export As PDF...
          </button>
        </div>

        <kendo-pdf-export #pdf margin="2cm">
          <div class="my-5">
            <div>
              <img class="logo-blue" src="assets/images/logo-blue.png">
            </div>
            <div class="row">
              <div class="col-md-8 mt-3">
                <h4 class="mb-0 fw-normal">If you like our angular portfolio</h4>
                <h3 class="mt-2">Contact Us</h3>
                <img class="call-img" src="assets/images/call.jpg">
              </div>
              <div class="col-md-4">
                <h6 class="text-primary">Email</h6>
                <a class="text-dark" href="mailto:hello@rivercitycorp.in">hello@rivercitycorp.in</a>
                <h6 class="text-primary mt-4">Website</h6>
                <a class="text-dark" href="https://www.rivercitycorp.in/">www.rivercitycorp.in</a>
                <h6 class="text-primary mt-4">Phone</h6>
                <a class="text-dark" href="tel:+919876692272">+91 987 669 2272</a>
                <br>
                <a class="text-dark" href="tel:+918283879264">+91 828 387 9264</a>
                <br>
                <br>
                <img class="barcode" src="assets/images/barcode.jpg">
              </div>
            </div>
          </div>
        </kendo-pdf-export>
        
        <div class="example-config">
          <button class="my-3 k-button-solid-primary" kendoButton (click)="pdf.saveAs('contact_River_City_Corporation.pdf')">
            Export As PDF...
          </button>
        </div>


        





        
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="View Source">
      <ng-template kendoTabContent>
        <div>
          <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
            <kendo-tabstrip-tab title="app.component.ts" [selected]="true">
              <ng-template kendoTabContent>
                <div class="content">
                  <pre>
                            <code>{{code}}</code>
                        </pre>
                </div>
              </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab title="app.module.ts">
              <ng-template kendoTabContent>
                <div class="content">
                  <pre>
                            <code>{{code1}}</code>
                        </pre>
                </div>
              </ng-template>
            </kendo-tabstrip-tab>
          </kendo-tabstrip>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
</div>
</div>