<h1 class="main-heading">Heading</h1>
<div class="description">
  <h6 class="sub-heading">sub-heading</h6>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
</div>

<kendo-pdf-export #pdf paperSize="A4" margin="2cm">
    <div class="mb-5">PDf content here</div> 
  </kendo-pdf-export>

  <div class="example-config">
    <button kendoButton (click)="pdf.saveAs('my_document.pdf')">
      Export As PDF...
    </button>
  </div>