<div class="description-parent">
  <div class="description">
    <h6 class="sub-heading">The Kendo UI for Angular TabStrip displays a collection of tabs, containing associated
      content, which enable the user to switch between different views inside a single component.</h6>
    <p>The following example demonstrates the TabStrip in action.</p>
  </div>
</div>

<div class="wrapper-parent">
  <div class="wrapper">
    <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
      <kendo-tabstrip-tab title="Preview" [selected]="true">
        <ng-template kendoTabContent>
          <div class="example-wrapper inner-tab">
            <div class="example-col">
              <kendo-tabstrip (tabSelect)="onTabSelect($event)">
                <kendo-tabstrip-tab title="Paris" [selected]="true">
                  <ng-template kendoTabContent>
                    <div class="content">
                      <img
                        src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/assets/tabstrip/rainy.png" />
                      <h2>17<span>ºC</span></h2>
                      <span>Rainy weather in Paris.</span>
                    </div>
                  </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab title="New York City" [disabled]="true">
                  <ng-template kendoTabContent>
                    <div class="content">
                      <img
                        src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/assets/tabstrip/cloudy.png" />
                      <h2>19<span>ºC</span></h2>
                      <span>Cloudy weather in New York City.</span>
                    </div>
                  </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab title="Tallinn">
                  <ng-template kendoTabContent>
                    <div class="content">
                      <img
                        src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/assets/tabstrip/sunny.png" />
                      <h2>23<span>ºC</span></h2>
                      <span>Sunny weather in Tallinn.</span>
                    </div>
                  </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab title="London">
                  <ng-template kendoTabContent>
                    <div class="content">
                      <img
                        src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/assets/tabstrip/rainy.png" />
                      <h2>16<span>ºC</span></h2>
                      <span>Rainy weather in London.</span>
                    </div>
                  </ng-template>
                </kendo-tabstrip-tab>
              </kendo-tabstrip>
            </div>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab title="View Source">
        <ng-template kendoTabContent>
          <div>
            <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
              <kendo-tabstrip-tab title="app.component.html" [selected]="true">
                <ng-template kendoTabContent>
                  <div class="content">
                    <pre>
                              <!-- <code>{{code}}</code> -->
                          </pre>
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab title="app.component.ts">
                <ng-template kendoTabContent>
                  <div class="content">
                    <pre>
                              <!-- <code>{{code1}}</code> -->
                          </pre>
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
            </kendo-tabstrip>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
  </div>
</div>