<div class="header">
    <h5>{{ selectedItem }} component</h5>
</div>
<div class="content" id="buttons" *ngIf="selectedItem === 'Buttons'">
    <app-buttons></app-buttons>
</div>
<div class="content" id="Drag Drop" *ngIf="selectedItem === 'Drag Drop'">
    <app-drag-drop></app-drag-drop>
</div>
<div class="content" id="Filtering" *ngIf="selectedItem === 'Filtering'">
    <app-filtering></app-filtering>
</div>
<div class="content" id="Load More" *ngIf="selectedItem === 'Load More'">
    <!-- <app-load-more></app-load-more> -->
</div>
<div class="content" id="Five" *ngIf="selectedItem === 'Five'">
    <h1> Five</h1>
</div>
<div class="content" id="Six" *ngIf="selectedItem === 'Six'">
    <h1> Six</h1>
</div>
<div class="content" id="Seven" *ngIf="selectedItem === 'Seven'">
    <h1> Seven</h1>
</div>
<div class="content" id="Eight" *ngIf="selectedItem === 'Eight'">
    <h1> Eight</h1>
</div>
<div class="content" id="Nine" *ngIf="selectedItem === 'Nine'">
    <h1> Nine</h1>
</div>
<div class="content" id="Ten" *ngIf="selectedItem === 'Ten'">
    <h1> Ten</h1>
</div>