<h1 class="main-heading">Heading</h1>
<div class="description">
  <h6 class="sub-heading">sub-heading</h6>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
</div>

<kendo-scheduler [kendoSchedulerBinding]="events" [selectedDate]="selectedDate" scrollTime="08:00" style="height: 600px;">
    <kendo-scheduler-day-view> </kendo-scheduler-day-view>

    <kendo-scheduler-week-view> </kendo-scheduler-week-view>

    <kendo-scheduler-month-view> </kendo-scheduler-month-view>

    <kendo-scheduler-timeline-view> </kendo-scheduler-timeline-view>

    <kendo-scheduler-agenda-view> </kendo-scheduler-agenda-view>
</kendo-scheduler>