<kendo-treelist
      [kendoTreeListFlatBinding]="data"
      [height]="410"
      kendoTreeListExpandable
      idField="id"
      parentIdField="managerId"
    >
      <kendo-treelist-column
        [expandable]="true"
        field="name"
        title="Name"
        [width]="250"
      >
      </kendo-treelist-column>
      <kendo-treelist-column
        field="title"
        title="Title"
        [width]="180"
      ></kendo-treelist-column>
      <kendo-treelist-column
        field="phone"
        title="Phone"
        [width]="180"
      ></kendo-treelist-column>
    </kendo-treelist>