<h1 class="main-heading">Heading</h1>
<div class="description">
  <h6 class="sub-heading">sub-heading</h6>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
</div>

<kendo-treeview
      kendoTreeViewHierarchyBinding
      [filterable]="true"
      [nodes]="data"
      childrenField="items"
      textField="text"
    >
    </kendo-treeview>