<div class="description">
  <h6 class="sub-heading">Filtering Using the Hierarchy Binding Directive</h6>
  <p>Using the kendoTreeViewHierarchyBinding directive with filterable set to true:</p>
</div>

<div class="wrapper">
  <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
    <kendo-tabstrip-tab title="Preview" [selected]="true">
      <ng-template kendoTabContent>
        <kendo-treeview kendoTreeViewHierarchyBinding [filterable]="true" [nodes]="data" childrenField="items"
          textField="text">
        </kendo-treeview>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="View Source">
      <ng-template kendoTabContent>
        <div>
          <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
            <kendo-tabstrip-tab title="app.component.ts" [selected]="true">
              <ng-template kendoTabContent>
                <div class="content">
                  <pre>
                            <code>{{code}}</code>
                        </pre>
                </div>
              </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab title="app.module.ts">
              <ng-template kendoTabContent>
                <div class="content">
                  <pre>
                            <code>{{code1}}</code>
                        </pre>
                </div>
              </ng-template>
            </kendo-tabstrip-tab>
          </kendo-tabstrip>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
</div>