<div class="description-parent">
    <div class="description">
    <h6 class="sub-heading">The Kendo UI for Angular Dropdowns are components for displaying predefined lists of options.</h6>
    <p>They include a variety of drop-down types and styles that have extensive configuration options. This flexibility allows you to quickly and easily create the exact Dropdowns component you need to fit your specific requirements for functionality and appearance.</p>
  </div>
 </div>
  
  <div class="wrapper-parent">
    <div class="wrapper">
    <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
      <kendo-tabstrip-tab title="Preview" [selected]="true">
        <ng-template kendoTabContent>
            <div class="example-wrapper">  
                Normal   
                <br>             
                <kendo-floatinglabel text="Select value">
                    <kendo-dropdownlist [data]="data" [style.width.px]="180">
                    </kendo-dropdownlist>
                </kendo-floatinglabel>
                <br>
                <br>   
                Disabled
                <br>   
                <kendo-floatinglabel text="Select value">
                    <kendo-dropdownlist [data]="data" [style.width.px]="180"  [disabled]="true">
                    </kendo-dropdownlist>
                </kendo-floatinglabel>
              </div>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab title="View Source">
        <ng-template kendoTabContent>
          <div>
            <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
              <kendo-tabstrip-tab title="app.component.ts" [selected]="true">
                <ng-template kendoTabContent>
                  <div class="content">
                    <pre>
                              <!-- <code>{{code}}</code> -->
                          </pre>
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab title="app.module.ts">
                <ng-template kendoTabContent>
                  <div class="content">
                    <pre>
                              <!-- <code>{{code1}}</code> -->
                          </pre>
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
            </kendo-tabstrip>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
  </div>
  </div>



