<div class="description-parent">
  <div class="description">
    <h6 class="sub-heading">The Angular Notification is a brief message, which provides information about the status of
      an application process.</h6>
    <p>The Notification service is built from the ground up and specifically for Angular, so that you get a
      high-performance control which integrates tightly with your application and with the rest of the Angular
      components.</p>
  </div>
</div>

<div class="wrapper-parent">
  <div class="wrapper">
    <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
      <kendo-tabstrip-tab title="Preview" [selected]="true">
        <ng-template kendoTabContent>
          <div class="example-wrapper">
            <div class="example-col row">
              <!-- <div class="col"><button kendoButton (click)="topLeft()" themeColor="primary">Top Left</button></div> -->
              <div class="col"><button kendoButton (click)="topCenter()" themeColor="primary">Show Notification</button></div>
              <!-- <div class="col"><button kendoButton (click)="topRight()" themeColor="primary">Top Right</button></div> -->
              <!-- <div class="col"><button kendoButton (click)="bottomLeft()" themeColor="primary">Bottom Left</button></div> -->
              <!-- <div class="col"><button kendoButton (click)="bottomCenter()" themeColor="primary">Bottom Center</button></div> -->
              <!-- <div class="col"><button kendoButton (click)="bottomRight()" themeColor="primary">Bottom Right</button></div> -->
            </div>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab title="View Source">
        <ng-template kendoTabContent>
          <div>
            <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
              <kendo-tabstrip-tab title="app.component.ts" [selected]="true">
                <ng-template kendoTabContent>
                  <div class="content">
                    <pre>
                            <code>{{code}}</code>
                        </pre>
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab title="app.module.ts">
                <ng-template kendoTabContent>
                  <div class="content">
                    <pre>
                            <code>{{code1}}</code>
                        </pre>
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
            </kendo-tabstrip>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
  </div>
</div>