@font-face {
  font-family: 'Lexend Deca';
  src: url('assets/lexendDeca/LexendDeca-Black.woff2') format('woff2'),
    url('assets/lexendDeca/LexendDeca-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Deca';
  src: url('assets/lexendDeca/LexendDeca-ExtraBold.woff2') format('woff2'),
    url('assets/lexendDeca/LexendDeca-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Deca';
  src: url('assets/lexendDeca/LexendDeca-Bold.woff2') format('woff2'),
    url('assets/lexendDeca/LexendDeca-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Deca';
  src: url('assets/lexendDeca/LexendDeca-SemiBold.woff2') format('woff2'),
    url('assets/lexendDeca/LexendDeca-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Lexend Deca';
  src: url('assets/lexendDeca/LexendDeca-Medium.woff2') format('woff2'),
    url('assets/lexendDeca/LexendDeca-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Deca';
  src: url('assets/lexendDeca/LexendDeca-Regular.woff2') format('woff2'),
    url('assets/lexendDeca/LexendDeca-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Deca';
  src: url('assets/lexendDeca/LexendDeca-Light.woff2') format('woff2'),
    url('assets/lexendDeca/LexendDeca-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Deca';
  src: url('assets/lexendDeca/LexendDeca-ExtraLight.woff2') format('woff2'),
    url('assets/lexendDeca/LexendDeca-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Deca';
  src: url('assets/lexendDeca/LexendDeca-Thin.woff2') format('woff2'),
    url('assets/lexendDeca/LexendDeca-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  background-color: #000000;
  padding: 6px;
  max-height: calc(100vh - 12px);
}

* {
  box-shadow: none !important;
  text-decoration: none !important;
}

a:hover {
  color: #0053d6 !important;
}

a.btn:hover {
  color: #fff !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border: 1px solid #eee;
}

::-webkit-scrollbar-thumb {
  background: #b6b6b6;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.logo {
  position: absolute;
  width: 260px;
  z-index: 99;
  background-color: #0053D6;
  padding: 32px;
}

.logo .info {
  background-color: #4FC553;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-left: -32px;
  padding: 6px 32px;
  margin-top: 10px;
  position: relative;
}

.logo .info:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 15px solid #0053d6;
  border-bottom: 18px solid transparent;
  border-top: 18px solid transparent;
  right: 0;
}

.main-container {
  display: block;
  background-color: #0053D6;
  border-radius: 15px;
  padding: 10px 10px 10px 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 15px 14px;
  border-radius: 30px 0 0 0;
  min-height: 500px;
  border-top: 1px solid #dff3ff;
}

.main-heading {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0px;
}

.description {
  background: #fff;
  padding: 20px 30px 30px;
  border-radius: 0 0 0 30px;
}

.description .sub-heading {
  font-size: 16px;
  line-height: 1.5;
  text-transform: initial;
  letter-spacing: initial;
  font-weight: initial;
}

.description p {
  margin-top: 20px;
  margin-bottom: 0px;
}

.k-drawer-push .k-drawer {
  background-color: #0053D6;
  color: #fff;
  max-height: calc(100vh - 182px);
  flex-basis: 260px !important;
  border: none;
  margin-top: 150px;
  margin-right: 10px;
}

.k-drawer-push .k-drawer .k-drawer-wrapper {
  width: 100% !important;
}

.k-drawer-item.k-selected,
.k-drawer-item:hover {
  background-color: #176CF1 !important;
  color: #FFDB13 !important;
  border-radius: 0 20px 20px 0;
  width: calc(100% - 20px);
}

.k-drawer-item {
  padding-left: 32px;
  display: flex;
  align-items: center;
}

.k-i-tab {
  background-image: url(assets/images/fullscreen-exit-fill.png);
  width: 22px;
  height: 22px !important;
}

.k-drawer-item.k-selected .k-i-tab {
  background-image: url(assets/images/fullscreen-fill.png);
}

.k-item.k-state-default,
.k-content.k-active,
.k-tabstrip-top>.k-tabstrip-items-wrapper {
  border: none !important;
  box-shadow: none !important;
  margin-bottom: 0 !important;
}

.logo-blue {
  max-width: 120px;
}

.barcode {
  max-width: 100px;
}

.call-img {
  max-width: 400px;
  margin-top: 20px;
}

kendo-tabstrip .k-item span {
  color: #0053D6 !important;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

kendo-tabstrip kendo-tabstrip .k-item span {
  text-transform: lowercase;
}

kendo-tabstrip kendo-tabstrip .k-tabstrip-items-wrapper {
  background-color: #F3F3F3;
  border-radius: 6px;
  padding: 0 15px;
}

kendo-tabstrip kendo-tabstrip .k-tabstrip-items-wrapper .k-link {
  padding: 12px 16px;
}

kendo-tabstrip kendo-tabstrip .k-tabstrip-items-wrapper .k-item {
  background-color: transparent !important;
}

kendo-tabstrip .example-wrapper p {
  margin: 0;
}

kendo-tabstrip .example-col {
  margin-bottom: 50px;
}

.example-col h5 {
  margin-bottom: 20px;
}

.k-item.k-active span {
  color: #1E1E1E;
  border-bottom: 3px solid #4FC553;
}


.k-listview-header,
.k-listview-content {
  padding: 20px 0;
  justify-content: center;
}

.k-listview-footer {
  border-width: 0;
}

.listview-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 15px 30px;
}

.footer-note {
  text-align: right;
  font-style: italic;
  font-size: 11px;
  padding-right: 4px;
}


app-stepper {
  width: 100%;
}

kendo-tabstrip {
  width: 380px;
}

.content-section {
  padding: 30px;
  background: #DFF3FF;
  border-radius: 20px;
}

.right-section {
  border-radius: 10px;
  padding: 10px 0;
  background: #fff;
  overflow: hidden;
}

.scroll-content {
  height: calc(100vh - 180px);
  overflow: auto;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 4em;
  font-weight: lighter;
}

h2>span {
  padding-left: 5px;
  font-size: 0.3em;
  vertical-align: top;
}



/* header css start */
.navbar-brand img {
  opacity: 1 !important;
}

.main-header .navbar-toggler {
  box-shadow: none;
}

.main-header .dropdown-toggle::after {
  content: none;
}

.main-header .menu-show .menu-close {
  position: relative;
  z-index: 999;
}

.main-header .menu-show.active .menu-open {
  display: none;
}

.main-header .menu-show .menu-close {
  display: none;
}

.main-header .menu-show.active .menu-close {
  display: block;
}

.menu-show {
  cursor: pointer;
}

.full-menu {
  /* display: none; */
  width: 100%;
  position: fixed;
  background-color: #0053d6;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 100px;
  opacity: .995;
  overflow: auto;
  z-index: 99;
  left: 100%;
  transition-duration: .5s;
}

.menu-show.active~.full-menu {
  /* display: block; */
  left: 0;
}

.full-menu h3 {
  position: relative;
  font-weight: 200;
  line-height: 2;
  color: #2d2d2d;
  margin-bottom: 0;
}

.full-menu h3 a,
.full-menu h3 span,
.full-menu h6,
.full-menu .social-link a {
  color: #fff;
}

.full-menu h3 .sub-menu {
  display: flex;
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translate(0%, -50%);
  align-items: center;
}

.full-menu h3 .sub-menu .line {
  border-bottom: 1px solid #fff;
  min-width: 50px;
  margin-left: 24px;
  margin-right: 50px;
}

.full-menu h3 .sub-menu a {
  font-size: 20px;
  font-weight: 300;
  margin-right: 50px;
}

.full-menu h3 .sub-menu a:hover,
.full-menu h3 a:hover,
.full-menu .social-link a:hover {
  color: #458dff !important;
}

.social-link {
  margin-top: 40px;
}

.navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px;
  color: #000;
}

.navbar-nav .nav-item .nav-link.active {
  color: #0053d6;
}

.navbar-nav .btn {
  padding: 14px 28px;
  min-width: auto;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
}


/* header css end */


.dropdown-menu.show {
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 11%) !important;
  border: none;
}

.dropdown-menu.show .dropdown-item {
  padding: 20px 40px;
}

.dropdown-menu li {
  margin-top: 0;
}

.dropdown-item:active:hover {
  color: #fff !important;
}


.dropdown-menu.show .dropdown-item:hover,
.dropdown-menu.show .dropdown-item:focus {
  background-color: #f8f9fa;
}

h3,
.h3 {
  font-size: 34px;
  /* 34 - 34 - 34 - 32 - 30 - 28  */
  font-weight: 600;
}

h6,
.h6 {
  font-size: 20px;
  /* 20 - 20 - 20 - 20 - 20 - 20  */
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.social-link a {
  font-size: 20px;
  font-weight: 300;
}

.email-css a:before {
  content: "hello@rivercitycorp.in";
}

example-wrapper,
.example-col {
  vertical-align: top;
}

.example-wrapper {
  margin-top: 20px;
}


.description-parent,
.wrapper-parent {
  background-color: #DFF3FF;
}

.custom-grid .destination-card {
  border: none;
}


.custom-grid .destination-card img {
  max-height: 200px;
}

.custom-grid .custom-card {
  padding: 0;
}

.custom-grid {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.custom-grid h4.title {
  margin-top: 10px;
  font-size: 16px;
}

.custom-grid h5.subtitle {
  margin-top: 10px;
  font-size: 14px;
}


/* kendo update */

.k-stepper .k-step-done .k-step-indicator,
.k-stepper .k-step-current .k-step-indicator,
.k-chat .k-alt .k-bubble {
  color: #fff;
}

.k-switch-on .k-switch-thumb {
  background-color: #fff;
}

.k-drawer-separator {
  background-color: transparent;
}

.k-pager,
.k-pager-md .k-pager-numbers-wrap .k-button {
  border-radius: 6px;
  border: none;
}

.k-listview-header {
  border: none;
  padding-bottom: 0;
}

.k-listbox-md.k-listbox {
  height: 100%;
}

.k-listbox .k-listbox-actions {
  justify-content: center;
}

.inner-tab .k-item span {
  color: inherit !important;
}

.k-input-solid {
  color: #000;
}

kendo-floatinglabel, kendo-autocomplete.k-autocomplete {
  margin-top: 20px;
}

kendo-datetimepicker.k-datetimepicker, kendo-floatinglabel input.k-input, kendo-floatinglabel .k-textbox, kendo-autocomplete.k-autocomplete, kendo-dropdownlist.k-dropdownlist {
  border: none;
  border-bottom: solid 2px rgba(0, 0, 0, 0.42);
  border-radius: 0;
  background-color: #fff!important;
}

.k-floating-label-container, kendo-autocomplete.k-autocomplete {
  width: 90%;
}

.k-picker-solid:focus-within {
  border-color: #fbac8a;
}

kendo-floatinglabel input.k-input.active, kendo-floatinglabel .k-textbox.active {
  border-color: #f75814;
}

kendo-floatinglabel input[disabled], kendo-floatinglabel .k-disabled {
  border-color: #e4e7eb!important;
}

.k-tooltip .k-callout {
  color: #616161;
}

.k-tooltip {
  border-color: #616161;
  color: white;
  background-color: #616161;
}

.k-switch-off .k-switch-thumb, .k-switch-on .k-switch-thumb {
  background: #FAFAFA;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12)!important;
}

.k-switch-md, .k-switch-md .k-switch-track {
  height: 14px;
  width: 36px;
  border: none;
}

.k-switch-off:focus .k-switch-track, .k-switch-off.k-focus .k-switch-track, .k-switch-on:focus .k-switch-track, .k-switch-on.k-focus .k-switch-track {
  outline: none!important;
}

.k-switch-md.k-switch-on .k-switch-thumb-wrap {
  left: calc( 100% - 5px );
}

.k-switch-md.k-switch-off .k-switch-thumb-wrap {
  left: 5px;
}

.k-switch-off .k-switch-track {
  border-color: #adb5bd;
  background-color: #adb5bd;
}

.k-switch-md .k-switch-thumb {
  width: 20px;
  height: 20px;
}

.k-checkbox:checked, .k-checkbox.k-checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.k-radio:checked, .k-radio.k-checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}


.example-wrapper kendo-tabstrip .k-tabstrip-items-wrapper {
  border-radius: 0;
  padding: 0;
}

.k-input, .k-input-inner {
  padding-left: 0!important;
}

.k-input-inner ~ .k-label, .k-input ~ .k-label, .k-dropdownlist ~ .k-label {
  left: 0!important;
}

.icon-input .k-label, .icon-input .k-input-inner {
  left: calc( 0.75rem + 1px )!important;
}