<div class="description-parent">
    <div class="description">
        <h6 class="sub-heading">The Kendo UI for Angular Inputs are fields for allowing the input of data based on
            specific and predefined formats.</h6>
        <p>They include a variety of input types and styles that have extensive configuration options. This flexibility
            allows you to quickly and easily create the exact input you need to fit your specific requirements for
            functionality and appearance.</p>
    </div>
</div>

<div class="wrapper-parent">
    <div class="wrapper">
        <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
            <kendo-tabstrip-tab title="Preview" [selected]="true">
                <ng-template kendoTabContent>
                    <div class="example-wrapper">
                        <div class="example-col row">
                            <h5>Input</h5>
                            <div class="col-xs-12 col-sm-6 col-lg-4 mb-3">
                                <p>Default View</p>
                                <kendo-floatinglabel text="Enter First Name">
                                    <input kendoTextBox name="firstName" />
                                </kendo-floatinglabel>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-4 mb-3">
                                <p>Filled View</p>
                                <kendo-floatinglabel text="Enter First Name">
                                    <input kendoTextBox name="firstName" value="Jhon" />
                                </kendo-floatinglabel>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-4 mb-3">
                                <p>Disabled View</p>
                                <kendo-floatinglabel text="Enter First Name">
                                    <input kendoTextBox name="firstName" [disabled]="true" />
                                </kendo-floatinglabel>
                            </div>
                        </div>

                        <div class="example-col row icon-input">
                            <h5>Input with icon</h5>
                            <div class="col-xs-12 col-sm-6 col-lg-4 mb-3">
                                <p>Default View</p>
                                <kendo-floatinglabel [labelCssClass]="'custom-label-class'" text="Enter Email">
                                    <kendo-textbox>
                                        <ng-template kendoTextBoxPrefixTemplate>
                                            <span class="k-icon k-i-email"></span>
                                            <kendo-textbox-separator></kendo-textbox-separator>
                                        </ng-template>
                                    </kendo-textbox>
                                </kendo-floatinglabel>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-4 mb-3">
                                <p>Filled View</p>
                                <kendo-floatinglabel [labelCssClass]="'custom-label-class'" text="Enter Email">
                                    <kendo-textbox value="john@gmail.com">
                                        <ng-template kendoTextBoxPrefixTemplate>
                                            <span class="k-icon k-i-email"></span>
                                            <kendo-textbox-separator></kendo-textbox-separator>
                                        </ng-template>
                                    </kendo-textbox>
                                </kendo-floatinglabel>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-4 mb-3">
                                <p>Disabled View</p>
                                <kendo-floatinglabel [labelCssClass]="'custom-label-class'" text="Enter Email">
                                    <kendo-textbox [disabled]="true">
                                        <ng-template kendoTextBoxPrefixTemplate>
                                            <span class="k-icon k-i-email"></span>
                                            <kendo-textbox-separator></kendo-textbox-separator>
                                        </ng-template>
                                    </kendo-textbox>
                                </kendo-floatinglabel>
                            </div>
                        </div>

                        <div class="example-col row">
                            <h5>Autocomplete</h5>
                            <div class="col-xs-12 col-sm-6 col-lg-4 mb-3">
                                <p>Default View</p>
                                <kendo-autocomplete [data]="listItems" placeholder="Type here...">
                                    <ng-template kendoAutoCompleteItemTemplate let-dataItem>
                                        <span>{{ dataItem }}</span>
                                    </ng-template>
                                </kendo-autocomplete>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-4 mb-3">
                                <p>Filled View</p>
                                <kendo-autocomplete [data]="listItems" placeholder="Type here..." value="input 1">
                                    <ng-template kendoAutoCompleteItemTemplate let-dataItem>
                                        <span>{{ dataItem }}</span>
                                    </ng-template>
                                </kendo-autocomplete>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-4 mb-3">
                                <p>Disabled View</p>
                                <kendo-autocomplete [data]="listItems" placeholder="Type here..." [disabled]="true">
                                    <ng-template kendoAutoCompleteItemTemplate let-dataItem>
                                        <span>{{ dataItem }}</span>
                                    </ng-template>
                                </kendo-autocomplete>
                            </div>
                        </div>


                        <div class="example-col row">
                            <h5>Select</h5>
                            <div class="col-xs-12 col-sm-6 col-lg-4 mb-3">
                                <p>Default View</p>
                                <kendo-floatinglabel text="Select value">
                                    <kendo-dropdownlist [data]="data">
                                    </kendo-dropdownlist>
                                </kendo-floatinglabel>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-4 mb-3">
                                <p>Selected View</p>
                                <kendo-floatinglabel text="Select value">
                                    <kendo-dropdownlist [data]="data" value="Bar">
                                    </kendo-dropdownlist>
                                </kendo-floatinglabel>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-4 mb-3">
                                <p>Disabled View</p>
                                <kendo-floatinglabel text="Select value">
                                    <kendo-dropdownlist [data]="data" [disabled]="true">
                                    </kendo-dropdownlist>
                                </kendo-floatinglabel>
                            </div>
                        </div>


                    </div>
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab title="View Source">
                <ng-template kendoTabContent>
                    <div>
                        <kendo-tabstrip class="w-100" (tabSelect)="onTabSelect($event)">
                            <kendo-tabstrip-tab title="app.component.html" [selected]="true">
                                <ng-template kendoTabContent>
                                    <div class="content">
                                        <pre>
                              <!-- <code>{{code}}</code> -->
                          </pre>
                                    </div>
                                </ng-template>
                            </kendo-tabstrip-tab>
                            <kendo-tabstrip-tab title="app.component.ts">
                                <ng-template kendoTabContent>
                                    <div class="content">
                                        <pre>
                              <!-- <code>{{code1}}</code> -->
                          </pre>
                                    </div>
                                </ng-template>
                            </kendo-tabstrip-tab>
                        </kendo-tabstrip>
                    </div>
                </ng-template>
            </kendo-tabstrip-tab>
        </kendo-tabstrip>
    </div>
</div>